*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
} 

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*#region Header*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
margin-right: 76px;
 
}

.clr-logo {
    color: #2e2f42
}

.menu {
    display: flex;
gap: 40px;
color: #404bbf;
}

.menu-item {}



.menu-link {
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
display: block;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
transition: #404bbf 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
position: relative;
color: #404bbf;
}

.menu-link.current::after {
    content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: #404bbf 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    font-style: normal;
   
}

.adrs-item {
    display: flex;
    gap: 40px;
    
}
.adrs-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
        padding-bottom: 24px;
        transition: #404bbf 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adrs-link:hover,
.adrs-link:focus {
   color:#404bbf;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}
/*#endregion Header*/

/*#region section1*/


.hero {
max-width: 1440px;
    padding: 188px 0;
    background-color: #2e2f42;
   background-image: linear-gradient( rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/people-office.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}



.hero-title {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
            margin-bottom: 48px;
            max-width: 496px;
            margin-left: auto;
                margin-right: auto;
}


.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    align-items: center;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    margin-left: auto;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    box-sizing: border-box;
    border: none;
    
        
}

.hero-btn:hover,
.hero-btn:focus {
background-color: #404bbf;
}
/*#endregion section1*/

/*#region section2*/

.section-two {
    padding: 120px 0
}

.section-two-item {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.section-two-posabilities {
    width: calc((100% - 72px)/4);
}

.posabilities-border {
    width: 264px;
        height: 112px;
        border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    background-color : #f4f4fd;
}


.section-two-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.section-two-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*#endregion section2*/

/*#region section3*/

.section-team {
    background-color:#f4f4fd;
    padding: 120px 0;
}

.section-team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
       
        margin-bottom: 72px;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
       
        
           
}

.section-team-item {
    background-color: #f4f4fd;;
display: flex;
flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 4px 4px;
    gap: 24px;
       
}
.section-team-workers {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.section-team-workers:hover ,
.section-team-workers:focus {
    box-shadow: 0 2px 1px 2px rgba(37, 37, 51, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: #2e2f42;}

.workers-profession {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}





.workers {
    padding: 32px 0;
}

.workers-item{
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.social-media {

}

.social-media-item {
display: flex;
    justify-content: center;
    gap: 16px;
}

.social-media-list {
width: 40px;
height: 40px;
}

.section-link-icon {
    width: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
}

.section-link-icon:hover ,
.section-link-icon:focus {
    background-color: #31d0aa;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media {
    fill:#f4f4fd;
}
/*#endregion section3*/


/*#region section4*/

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-title {

    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
    text-transform: capitalize;
    
}

.section-portfolio-item {
  display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;

}

.section-portfolio-item-list {
box-shadow: none;
}

.section-portfolio-item-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-portfolio-item-list:hover 
.portfolio-cover-text {
    transform: translate(0);
transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}
 


.portfolio-cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        height: 100%;
        transition: transform 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding: 40px 32px;
        transform: translateY(100%)
        
        
}

.section-portfolio-list-title {
        font-weight: 500;
        font-size: 20px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.section-portfolio-list-explanation {
        font-weight: 400;
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.appointment-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.appointment-app-list{
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*#endregion section4*/

/*#region footer*/
.footer {
    background-color: #2e2f42;
   
    padding: 100px 0;

}

.container-footer {
    display: flex;
align-items: baseline;
}

.footer-logo {
    margin-right: 120px
}

.logo footer {
        font-weight: 700;
        font-size: 18px; 
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
background-color:#4d5ae5;
}

.clr-logo-footer {
    color: #f4f4fd;;
}



.footer-text {
        max-width: 264px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.footer-social-media {
    padding-left: 120px;
}

.footer-social-media-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-media-item {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-media-list {
    width: 40px;
    height: 40px;
       
}

.footer-social-media-list:hover ,
.footer-social-media-list:focus {
 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon {
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
justify-content: center;
margin-top: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-link-icon:hover ,
.footer-link-icon:focus {
background-color: #31d0aa;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.social-media-icon {
    fill: #f4f4fd;
}

/*#endregion footer*/