*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

button{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
} 

.container {
    /*max-width: 1158px;*/
    max-width: 320px;
    /* width: 288px; */
    /*padding-left: 15px;
    padding-right: 15px;*/
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*#region Header*/
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
/* width: 320px;
    height: 96px; */
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
/* margin-right: 76px; */

 
}

.clr-logo {
    color: #2e2f42
}

.menu {
    /* display: flex; */
    display: none;
gap: 40px;
color: #404bbf;
}



.menu-item {}



.menu-link {
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
display: block;
color: #2e2f42;
padding-top: 24px;
padding-bottom: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
position: relative;
color: #404bbf;
}

.menu-link.current::after {
    content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    font-style: normal;
   
}

.adrs-item {
    /* display: flex; */
    display: none;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adrs-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
     /* padding-top: 24px;
padding-bottom: 24px;  */
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adrs-link:hover ,
.adrs-link:focus {
   color:#404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.menu-open-btn {
    background-color: transparent;
    border: none;
    margin-right: 24px;
}

.icon-burger {
    fill: #2f2f37;
}

.mob-menu .is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.mob-menu {
    width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 11;
        padding-left: 16px;
        padding-right: 24px;
        padding-bottom: 40px;
        padding-top: 24px;
        display: flex;
        flex-direction: column;
      
        /* opacity: 0;
        visibility: hidden;
        pointer-events: none; */
}

.menu-open-btn {

border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

}

.icon-burger {
width: 24px;
    height: 24px;
    cursor: pointer;
    border-color: none;
    border: none;
    stroke-width: 1px;
    stroke: #2e2f42;
    background-color: transparent;
    display: flex;
}

.mob-nav {}

.mob-menu-list {
    display: flex;
        justify-content: flex-start;
        flex-direction: column;
}

.mob-menu-item {
    margin-bottom: 24px;
    
}

.mob-menu-link {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
            color: #2e2f42;

            
}

.mob-studio {
color: #404bbf;
}

.mob-adrs {}

.mob-adrs-item {}

.mob-adrs-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.mob-social-media-item {
display: flex;
justify-content: center;
gap: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-social-media-list {
width: 40px;
height: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-section-link-icon {
width: 100%;
background-color: #4d5ae5;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion Header*/

/*#region section1*/


.hero {
/* max-width: 1440px; */
 min-width: 320px;
    padding: 188px 0;
    background-color: #2e2f42;
   background-image: linear-gradient( rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/mb-people-office.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
  
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
   .hero {
     background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mb-people-office-2x.jpg);
   }
   
}

.hero-title {
/*  font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff; 
            margin-bottom: 72px;
            max-width: 496px;
            margin-left: auto;
                margin-right: auto;*/

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 52px;
        padding-right: 52px;
}


.hero-btn {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    align-items: center;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 4px;
    /*min-width: 169px;*/
    margin-left: auto;
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    box-sizing: border-box;
    border: none;

        
}

.hero-btn:hover,
.hero-btn:focus {
background-color: #404bbf;
}
/*#endregion section1*/

/*#region section2*/

.section-two {
    /* padding: 120px 0 */
    padding-top: 96px;
    padding-bottom: 90px;
}

.section-two-item {
  display: flex;
  flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.section-two-posabilities {
    /* width: calc((100% - 72px)/4); */
}

.posabilities-border {
      display: none;      
    }


.section-two-title { 
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
}

.section-two-text {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
}
/*#endregion section2*/

/*#region section3*/

.section-team {
    background-color:#f4f4fd;
    padding: 120px 0;
}

.section-team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
       
        margin-bottom: 72px;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize   
}

.section-team-item {
    background-color: #f4f4fd;;
display: flex;
/* flex-direction: row; */
flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 4px 4px;
    /* gap: 24px; */
    gap: 72px;
    width: 100%;
       
}
.section-team-workers {
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.section-team-workers:hover ,
.section-team-workers:focus {
    box-shadow: 0 2px 1px 2px rgba(37, 37, 51, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.workers-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    color: #2e2f42;}

.workers-profession {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}


.workers {
    padding: 32px 0;
}

.workers-item{
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
}

.social-media {

}

.social-media-item {
display: flex;
    justify-content: center;
gap: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list {
width: 40px;
height: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-link-icon {
    width: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-link-icon:hover ,
.section-link-icon:focus {
    background-color: #404bbf;
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-social-media {
    fill:#f4f4fd;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion section3*/


/*#region section4*/

.section-portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 72px;
    }


.section-portfolio-title {

    font-weight: 700;
    font-size: 36px; 
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
    text-transform: capitalize;
    
}

.section-portfolio-item {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    row-gap: 48px;
    justify-content: center;
    align-items: center;
   

}

.section-portfolio-item-list {
box-shadow: none;
}

.section-portfolio-item-list:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-portfolio-item-list:hover 
.portfolio-cover-text {
    transform: translate(0);
transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}
 


.portfolio-cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    color: #f4f4fd;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        height: 100%;
        transition: transform 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        padding: 40px 32px;
        transform: translateY(100%)
        
        
}

.section-portfolio-list-title {
        font-weight: 500;
        font-size: 20px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.section-portfolio-list-explanation {
        font-weight: 400;
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.appointment-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.appointment-app-list{
width: calc((100% - 48px) / 1);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*#endregion section4*/

/*#region footer*/
.footer {
    background-color: #2e2f42;
   
    padding: 100px 0;

}

.container-footer {
    display: flex;
    flex-direction: column;
/* align-items: baseline; */
align-items: center;
gap: 72px;
}

.footer-logo {
    /* margin-right: 120px */
}

.logo-footer{
    font-family: "Raleway", sans-serif;
    /* display: inline-block; */
    display: flex;
    font-weight: 700;
        font-size: 18px; 
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 16px;
color:#4d5ae5;
justify-content: center;
align-items: center ;
}

.clr-logo-footer {
    color: #f4f4fd;;
}



.footer-text {
        /* max-width: 264px; */
        max-width: 288px;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}

.footer-social-media {
display: inline-block;
}

.footer-social-media-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
   text-align: center;
}

.footer-social-media-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-social-media-list {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-list:hover ,
.footer-social-media-list:focus {
 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon {
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
justify-content: center;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-link-icon:hover ,
.footer-link-icon:focus {
background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.social-media-icon {
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
margin-left: auto;
margin-right: auto;
}

.footer-sub-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        display: block;
            text-align: center;
            justify-content: center;
}

.footer-form {
    /* display:flex; */
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
        border-radius: 4px;
        /* width: 264px; */
        width: 288px;
        height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        color: #ffffff;

            
}

.footer-input::placeholder {
font-weight: 400;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.04em;
            color: #ffffff;
           
}

.footer-btn-sub{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #4d5ae5;
    border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
           
            margin-left: auto;
            margin-right: auto;

}

.footer-icon {
    fill: #fff;
    margin-left: 16px;
}

/*#endregion footer*/

/*#region backdrop*/

.backdrop-modal {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal {
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
border-radius: 4px;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    padding: 72px 24px 24px ;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-modal.is-open {
  visibility: visible;
  pointer-events: auto;  
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    line-height: 0;
    padding: 0;
            stroke-width: 1px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;
        
        background-color: #e7e9fc;
        
}

.modal-close-btn:hover,
.modal-close-btn:focus {
background-color: #404bbf; 
border: none;
}


.modal-close-btn:hover>.close-icon ,
.modal-close-btn:focus>.close-icon {
    fill: #FFFFFF; }

.close-icon {
display: flex;
fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
 
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        width: 360px;
        margin-bottom: 16px;
}



.form-wrapper-cont {
    margin-bottom: 8px;
}

.modal-form-label {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.modal-cont-input {
    position: relative;
}

.modal-input {
    width:100% ;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding-left: 38px;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus +.modal-icon {
fill: #4d5ae5;
}


.modal-icon {
   position: absolute;
   top: 50% ;
   transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#2e2f42 ;
    left: 16px
    
}


.form-wrapper-cont-comment {font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
margin-bottom: 16px;
}

.modal-form-label-comment {
        font-weight: 400;
            font-size: 12px;
            line-height: 1.16667;
            letter-spacing: 0.04em;
            color: #8e8f99;
            display: block;
            margin-bottom: 4px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    padding: 8px 16px;
    resize: none;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
line-height: 1.17;
 letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.modal-cont-checkbox {
    margin-bottom: 24px;
}


.custom-label-user-checkbox {
    cursor: pointer;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;

}

.custom-checkbox {
    border-radius: 2px;
        width: 16px;
        height: 16px;
        display:inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px; 
        border: 1px solid rgba(46, 47, 66, 0.4);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: transparent;
        

}

.checkbox:checked+.custom-label-user-checkbox>.custom-checkbox {
    border-color: transparent;
    border: none;
    fill: #f4f4fd;
    background-color: #404bbf;
}

.privacy-police {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}



.modal-submit {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);background: #4d5ae5;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: block;
justify-content: center;
align-items: center;
margin-left: 100px;
        }

.modal-submit:hover,
.modal-submit:focus {
background-color: #404bbf;
}

/*#endregion backdrop*/

/* #region media */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0 auto;
 /* width: 584px; */
    }
.mob-menu {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.menu-open-btn {
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
}

.menu {
    display: flex;
        margin-left: 120px; 
margin-right: 120px;
}

.adrs-item {
    display: flex;
        flex-direction: column;
        gap: 12px;
}

.adrs-link {
    display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        /* padding: 24px 0; */
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section hero */

.hero {
max-width: 1440px;
background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/tablet-people-office.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet-people-office-2x.jpg);
            padding: 112px;
    }
}
.hero-title {
    font-size: 56px;
        line-height: 1.07;
 margin-bottom: 36px;
}

/* section 2 */

    .section-two {
            display:flex;
            flex-wrap: nowrap;
        padding-top: 96px;
                padding-bottom: 96px;
    }

    .section-two-posabilities {
        width: calc((100% - 24px)/2);
    }

    .section-two-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

.section-two-item {
    gap: 72px 24px;
}

    /* section 3 */
        .section-team-item {
            background-color: #f4f4fd;
            ;
            display: flex;
            /* flex-direction: row; */
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-radius: 0 0 4px 4px;
            gap: 24px;
            /* gap: 72px; */
            /* width: 100%; */
        }



        .workers-item {
                width: calc((100% - 24px) / 2);
                margin-bottom: 64px;
            }

/* section portfolio */

.section-portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
    width: 736px;
}

.appointment-app-list {
    width: calc((100% - 24px) / 2);
}

/* footer */

.container-footer {
    flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        width: 584px;
        align-items: baseline;
}

.footer-subscribe {
    margin-left: auto;
    margin-right: auto;
}

.footer-form{
    display: flex;
    align-items: center;
}

.footer-sub-title {
    display: block;
        text-align: left;
        justify-content: center;

}
.logo-footer {
display: inline-block;
text-align: left;
margin-right: 0;
margin-bottom: 16px;
padding: 0;
}

.footer-social-media-text {
    text-align: left;
}

.footer-subscribe {
    margin-left: 0;
}


}

@media screen and (min-width:1158px) {
    .container {
            max-width: 1158px;
            padding-left: 15px;
                padding-right: 15px;
           width: 1158px;
        }

.mob-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.menu {
display:flex;
gap: 40px;
}

.menu-link {
    padding-top: 24px;
        padding-bottom: 24px;
}

.menu-link.current {
    position: relative;
    color: #404bbf;
}

.adrs-item{
    flex-direction:row ;
    gap: 40px;
}

/* section hero */

.hero {
    
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-color: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-2x.jpg);
    }
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
}

.hero-btn {
  min-width: 169px;  
}

/* section 2 */

.section-two {
    padding: 120px 0
}

/* .section-two > .container {
    max-width: 1158px;
} */

.section-two-item {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
}

.section-two-posabilities {
    width: calc((100% - 24px)/4);
}

.posabilities-border {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
}

.section-two-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px; 
    }

.section-two-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* section 3 */
 .section-team-item {
    background-color: #f4f4fd;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 4px 4px;
        gap: 24px;

}.workers-item {
        width: calc((100% - 72px) / 4);
    }

/* section 4 */
 
.section-portfolio{
   
    padding-top: 120px;
    padding-bottom: 120px;
} 



.section-portfolio-item-list {
width: calc((100% - 24px) / 3);
    width: 1128px;
} 


.section-portfolio-item{
display: flex;
flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;

}
 
.appointment-app-list {
width: calc((100% - 96px)/3);
width: 100%;

}

/* section portfolio */
.section-portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
    width: 1128px;

}



.appointment-app-list {
    width: calc((100% - 24px) / 4);
}

/* footer */
.container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 72px;

}

.logo-footer {
    display: inline-block;
}

.footer-text {
    max-width: 264px;
}

.footer-subscribe {
    margin-left: auto; 

}

.footer-sub-title {
    text-align: left;
    padding: 0;
}


.footer-form {
    display:flex;
    gap: 24px;
}

.footer-input {
    width: 264px;


}

.footer-btn-sub { 
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #4d5ae5;
border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
text-align: center;
    align-items: center;
    margin-top: auto;

}

}


@media screen and (min-width:768px) and (max-width:1157px) {
    /* .section-two > .container {
        max-width: 584px;
    } */

    .section-portfolio > .container {
        max-width: 768px;
    }
}
/* #endregion media */



